<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="match">
      <h2 data-cy="matchDetailsHeading"><span jhiTranslate="tennisApp.match.detail.title">Match</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ match.id }}</span>
        </dd>
        <dt><span jhiTranslate="tennisApp.match.playerOneName">Player One Name</span></dt>
        <dd>
          <span>{{ match.playerOneName }}</span>
        </dd>
        <dt><span jhiTranslate="tennisApp.match.playerOneScore">Player One Score</span></dt>
        <dd>
          <span>{{ match.playerOneScore }}</span>
        </dd>
        <dt><span jhiTranslate="tennisApp.match.playerTwoName">Player Two Name</span></dt>
        <dd>
          <span>{{ match.playerTwoName }}</span>
        </dd>
        <dt><span jhiTranslate="tennisApp.match.playerTwoScore">Player Two Score</span></dt>
        <dd>
          <span>{{ match.playerTwoScore }}</span>
        </dd>
        <dt><span jhiTranslate="tennisApp.match.predication">Predication</span></dt>
        <dd>
          <span>{{ match.predication }}</span>
        </dd>
        <dt><span jhiTranslate="tennisApp.match.player">Player</span></dt>
        <dd>
          <span *ngFor="let player of match.players; let last = last">
            <a [routerLink]="['/player', player?.id, 'view']">{{ player.lastname }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/match', match.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
